
:root{
--main-text: 'Roboto', sans-serif;
--secondary-text: 'Raleway', sans-serif;
--first-color-slate: #434455 ;
--dark-color-navy-blue: #2e2f42;
--light-color-cloud: #f4f4fd;
--secondary-color-white: #ffffff;
--accent-color-ocean: #404bbf;
--primaru-btn-color-iis: #4d5ae5;

}

/* Скидання маркерів і підкреслення/ Reset start */

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

.link {
	text-decoration: none;
	color: currentColor;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}
	
img {
	display: block;
}

/* Reset End */


/* Body */
body{
	font-family: var(--main-text);
	color: var(--first-color-slate);
	font-size: 16px;
	line-height: 1,5;
	letter-spacing: 0.02em;
	background-color: var(--secondary-color-white);
}

.container {
	width: 1158px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
	outline: 2px dashed #f44336;
	padding: 0 15px;
}

/* Header */
.header-container {
	display: flex;
	align-items: center;
}

.nav-container{
	display: flex;
	align-items: center;
	margin-right: 332px;
}

.logo-link {
	padding: 24px 0;
	margin-right: auto;
	font-family: var(--secondary-text);
	font-weight: 800;
	font-size: 18px;
	line-height: 1, 17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primaru-btn-color-iis);

}

.header-logo {
	color: var(--dark-color-navy-blue);
}

.menu-container {
	display: flex;
	flex-direction: row;
	padding: 0px;
}

.menu-item {
	margin-right: 40px;
}

.menu-item:last-child {
	margin-right: 0;
}

.menu-link {
	display: block;
	padding: 24px 0;
	font-weight: 500;
	color: var(--dark-color-navy-blue);
}

.menu-link:hover,
.menu-link:focus {
	color: var(--accent-color-ocean);
}

.mail {
	margin-right: 40px;
}

.contact {
	font-style: normal;
}

.contact-container {
	display: flex;
	align-items: center;
}

.contact-link {
	display: block;
	padding: 24px 0;
	font-weight: 400;
	color: var(--first-color-slate);
}

.contact-link:hover,
.contact-link:focus {
	color: var(--accent-color-ocean);
}



/* Hero */

.hero-container {
	width: 1440px;
}

.hero {
background-color: var(--dark-color-navy-blue);
}

.hero-title {
	width: 496px;
	margin-bottom: 48px;
	font-weight: 700;
	font-size: 56px;
	line-height: 1,07;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--secondary-color-white);
	outline: 2px dashed #2a2a2a;
	background-color: tomato;
}

.hero-btn {
	border-radius: 4px;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1,5;
	letter-spacing: 0.04em;
	color: var(--secondary-color-white);
	background-color:var(--primaru-btn-color-iis);
	cursor: pointer;
	
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--accent-color-ocean);
}

/* Section */

.section-team {
	background-color: var(--light-color-cloud);
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1,11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--dark-color-navy-blue);
}

.subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1,2;
	letter-spacing: 0.02em;
	color:var(--dark-color-navy-blue);
}

.text {
	font-weight: 400;
	color:var(--first-color-slate)
}

.team-item{
background-color: var(--secondary-color-white);
}


/* Portfolio */

.filters-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1,5;
	letter-spacing: 0.04em;
	color: var(--primaru-btn-color-iis);
	background: var(--light-color-cloud);
	cursor: pointer;
}
.filters-btn:hover,
 .filters-btn:focus {
	color: var(--secondary-color-white);
	background: var(--accent-color-ocean);
}

.galery-title {
	color: var(--dark-color-navy-blue);
}

/* Footer */
.footer {
	background-color: var(--dark-color-navy-blue);
}
.footer-text {
	font-weight: 400;
	color: var(--light-color-cloud);
}

.footer-logo {
	color: var(--light-color-cloud);
}

